/**faq**/
.faq-left-list {
    float: left;
    width: 700px;
}
.faq-right-bg {
    background-image: url('/assets/img/faq-bg.jpg');
    background-size: cover;
    float: right;
    width: 380px;
    height: 338px;
}
.faq-list {
    position: relative;
    float: left;
    width: 720px;
    height: 338px;
    overflow: hidden;
}
.faq-list li {
    margin-bottom: 25px;
}
.question {
    position: relative;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin: 0 0 0 42px;
    background: #f0f0f0;
}
.question::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -32px;
    width: 28px;
    height: 28px;
    float: left;
    background: url('/assets/img/ic_chat_white_24px.svg') no-repeat 2px 2px;
    background-color: red;
}
.answer {
    position: relative;
    line-height: 1.6em;
    margin: 15px 0 0 42px;
    padding: 10px;
    background: #444;
    color: white;
}
.answer::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 15px;
    width: 15px;
    height: 15px;
    background: #444;
    transform: rotate(45deg);
}
/**client**/
.location-list {
    width: 240px;
    float: left;
    text-align: left;
}
.location-list li {
    margin: 4px;
}
.ps-location {
    height: 336px;
    width: 220px;
    position: relative;
}
.client-map {
    float: left;
    width: 910px;
    height: 370px;
    background: url("/assets/img/client-map.png") no-repeat;
    background-size: cover;
}
/**contact**/
.contact-img {
    float: left;
    width: 600px;
    height: 370px;
    background-image: url("/assets/img/contact-img.png");
    background-size: cover;
}
.contact-address {
    background-color: #f0f0f0;
    width: 535px;
    height: 370px;
    float: left;
    margin-left: 15px;
    padding: 5px 15px;
    text-align: left;
}