<fullpage-slider>
    <slide-page>
        <div class="slide-center-content center-align">
            <h3 class="white">世纪美音精英团队</h3>
            <div class="team-list">
                <a class="team-item" routerLink="/team/member/3"><img src="/assets/img/team/03.png"></a>
                <a class="team-item" routerLink="/team/member/2"><img src="/assets/img/team/02.png"></a>
                <a class="team-item" routerLink="/team/member/1"><img src="/assets/img/team/01.png"></a>
                <a class="team-item" routerLink="/team/member/4"><img src="/assets/img/team/04.png"></a>
                <a class="team-item" routerLink="/team/member/5"><img src="/assets/img/team/05.png"></a>
            </div>
        </div>
    </slide-page>
    <slide-page class="light-bg">
        <div class="slide-center-content center-align">
            <h3>国际认证专业资质</h3>
            <p>
                2011年8月，世纪美音成功加入美国CEDIA协会，成为湖北省首个获得美国CEDIA协会认证的专业会员企业。美国家庭智能化设计及安装协会（CEDIA）是从事家庭电子系统的规划与安装的全球性行业协会， CEDIA协会的会员设计与安装的家庭系统包括家庭局域网络、自动化控制、通信系统、单房或多房娱乐系统、控制灯光、安全和空调系统的集成整户子系统，家庭影院等等。该协会创立于1989年9月，全球现约有2200家会员公司，CEDIA的会员都是在家庭弱电设计安装行业内具有良好信誉和丰富经验的知名资深企业。
            </p>
            <div #certSwiper class="cert-list">
                <div class="item" *ngFor="let cert of certList">
                    <img src="{{cert}}" >
                </div>
            </div>
        </div>
    </slide-page>
    <slide-page class="light-bg">
        <div class="slide-center-content center-align">
            <h3>服务理念</h3>
            <p>
                多年来，世纪美音严格遵循美国CEDIA协会颁布的 《CEA/CEDIA-CEB22 Home Theater Recommended Practice: Audio Design》和《CEA/CEDIA-CEB23 Home Theater Video Design》 两大专业行业标准规划设计影音空间，秉承科学、严谨和求实的设计理念，从客户实际情况出发，结合空间、个人喜好、家庭成员特性，度身设计与定制最符合需求的家庭影音及智能系统，另外，世纪美音还无偿提供8000G蓝光大片库，让家庭中的每个人都能沉浸于美妙绝伦的视听中，享受内心的喜悦。
            </p>
            <div class="service-imgs">
                <img src="/assets/img/team/service-left.png" />
                <img class="speaker" src="/assets/img/team/service-mid.png" />
                <img src="/assets/img/team/service-right.png" />
            </div>
        </div>
    </slide-page>
    <slide-page class="light-bg project-management-page">
        <div class="slide-center-content center-align">
            <h3>服务流程</h3>
            <ul class="pm-description">
                <li>影音设计师是项目管理的领导者</li>
                <li>优质项目管理者能够案头影音工程进度<br />发展的未来，成为客服困难的专家</li>
                <li>项目管理传递真相<br />验证设计是否符合要求</li>
            </ul>
            <div class="line-box">
                <div class="line left-line"></div>
                <div class="line right-line"></div>
            </div>
            <h3>黄金五步骤规范法</h3>
            <ul class="steps">
                <li>
                    <div class="title-tag">1)启动</div>
                    <p>项目审核并推出</p>
                </li>
                <li>
                    <div class="title-tag">2)策划</div>
                    <p>确定项目目标和范围</p>
                </li>
                <li>
                    <div class="title-tag">3)执行</div>
                    <p>
                        设计和安装<br />
                        1.检测进度<br />
                        2.解决矛盾
                    </p>
                </li>
                <li>
                    <div class="title-tag">4)控制</div>
                    <p>管理进度和定制时间表</p>
                </li>
                <li>
                    <div class="title-tag">5)结束</div>
                    <p>
                        项目完成与客户验收
                        1.统计所有设备
                        2.对影音设备进行校调和处理
                        3.启动有线宽带服务
                        4.技术总监测试通过确认
                        5.客户体验满意，签字确认
                    </p>
                </li>
            </ul>
        </div>
    </slide-page>
    <slider-nav [pageNames]="['精英团队', '国际认证', '服务理念', '售后服务']"></slider-nav>
</fullpage-slider>